@model signalrtc.DataAccess.SIPAccount

@{
    ViewData["Title"] = "Your Account";
}

<h1>Your Account</h1>

@if (!string.IsNullOrWhiteSpace(TempData["Error"] as string))
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}


@if (!string.IsNullOrWhiteSpace(TempData["Success"] as string))
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}

@if (Model == null)
{
    <p>
        <a asp-action="Create">Create SIP Account</a>, your account will be <b>sip:@User.Identity.Name@@@ViewData["SIPDefaultDomain"]</b>.
    </p>
}
else
{
    <p>
        SIP Bindings for <b>sip:@Model.SIPUsername@@@Model.SIPDomain</b>:
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Contact URI
                </th>
                <th>
                    Expiry (s)
                </th>
                <th>
                    User Agent
                </th>
                <th>
                    Client Socket
                </th>
                <th>
                    Expiry Time (UTC)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SIPRegistrarBindings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactURI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Expiry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserAgent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RemoteSIPSocket)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryTime)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Edit">Reset Password</a>
    <span>|</span>
    <a asp-action="Delete" onclick="return confirm('Do you want to delete your SIP Account?')">Delete SIP Account</a>

    <hr/>

    <h2>Configuration Instructions</h2>

    <p>In your SIP client the settings to use are:</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Server
                </th>
                <th>
                    Username (and )
                </th>
                <th>
                    Password
                </th>
                <th>
                    Realm (if reqd.)
                </th>
                <th>
                    Auth User (if reqd.)
                </th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        @ViewData["SIPDefaultDomain"]
                    </td>
                    <td>
                        @User.Identity.Name
                    </td>
                    <td>
                        Your Password
                    </td>
                    <td>
                        @ViewData["SIPDefaultDomain"]
                    </td>
                    <td>
                        @User.Identity.Name
                    </td>
                </tr>
        </tbody>
    </table>
}
